.filter-view {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 0 0 12rem;
  padding: 1rem 0.5rem;
  border: 1px solid var(--clr-gray);
}

@media (max-width: 750px)
{
  .filter-view {
    display: none;
  }
}


