.market {
  padding: 1.5rem 1.125rem;
  flex-basis: 85%;
  border: 1px solid var(--clr-gray);
}

.market-category {
  font-size: var(--fs-450);
  font-weight: var(--fw-medium);
  margin-bottom: 2rem;
}