*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --ff-default: "Poppins", sans-serif;

  --fw-small: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-450: 1.125rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 1.75rem;
  
  --lh-200: 1.1rem;
  --lh-300: 1.225rem;
  --lh-400: 1.4rem;
  --lh-500: 1.575rem;
  --lh-600: 1.75rem;


  --clr-primary: #b6002c;
  --clr-secondary-900: #1a1a1a;
  --clr-secondary-100: #ffffff;

  --clr-gray: #f5f5f5;


}

body {
  font-family: var(--ff-default);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  color: var(--clr-secondary-900);
}

.container {
  width: 100%;
  /* dvh (dynamic viewport height) useful for mobile, if not supported by browser => vh */
  min-height: 100vh;
  min-height: 100dvh;
}